.env
.env.backup
.idea
.php_cs.cache
.phpstorm.meta.php
.phpunit.result.cache
.vscode
_ide_helper*.php
_ide_macros*.php
app/Modules/Vendor
Homestead.json
Homestead.yaml
html-coverage
node_modules
npm-debug.log
public/hot
public/storage
public/uploads/
public/vendor
storage/*.key
vendor
yarn-error.log
