<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="false">
        <include>
            <directory suffix=".php">./app</directory>
        </include>
        <exclude>
            <directory suffix=".php">./app/Modules/Vendor</directory>
            <!-- NOTE: Exclude the following directories because they fail when directly included with code-coverage-->
            <directory suffix=".php">./app/Modules/*/UI/*/Routes</directory>
            <directory suffix=".php">./app/Modules/*/Data/Factories</directory>
            <directory suffix=".php">./app/Modules/*/Data/Migrations</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Modules Tests">
            <directory suffix="Test.php">./app/Modules/*/Tests</directory>
            <directory suffix="Test.php">./app/Modules/*/UI/*/Tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="DB_CONNECTION" value="sqlite"/>
        <server name="DB_DATABASE" value=":memory:"/>
        <server name="MAIL_MAILER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SCOUT_DRIVER" value="collection"/>
        <server name="SESSION_DRIVER" value="array"/>
        <server name="TELESCOPE_ENABLED" value="false"/>
    </php>
</phpunit>
